* {
  margin: 0;
  padding: 0;
}

body {
  padding: 10px;
}

main {
  width: 770px;
  margin-left: auto;
  margin-right: auto;
}

article {
  padding: 25px 20px;
}

h3 {
  margin-top: 10px;
  margin-bottom: 15px;
}

img {
  margin-top: 20px;
  margin-bottom: 25px;
}
p,
h3 {
  color: #666666;
}
h3 {
  font-weight: normal;
}
h3 > span {
  color: red;
}
article > p {
  font-weight: bold;
}
article p span {
  font-weight: normal;
}
